*{
    margin:0;
    padding:0;
    box-sizing:border-box; 
}
html,body{
    height:100%;
    width:100%;
}

.page1{
    height: 100vh;
    width: 100%;
    background-color: #000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;


    .elem{
        height: 100px;
        width: 300px;
        background-image: linear-gradient(to right , rgb(153, 220, 153),rgb(8, 220, 8));
        border-radius: 13px;
    }
}